{% extends "base/base.html.twig" %}
{% block body%}
    <style>
        .modal-content {
            top: 350px;
            background-color: #fefefe;
            margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
            border: 1px solid #888;
            width: 50%; /* Could be more or less, depending on screen size */
        }

        </style>
    <section class="content-section" data-background="#fffbf7">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center justify-content-center">

                    <h2>Detail Gallerie</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-content"></div>
    <div class="collection-box is-inview" data-scroll="" data-scroll-speed="0.5" , class="modal-content" >
        <figure><img src="http://wandau.themezinho.net/wp-content/uploads/2021/03/side-imag01.jpg" alt="Image"; style="width: 300px;height: 400px"></figure>
    </div>
    </div>
    </section>




{% endblock %}