{% extends "base/base_admin.html.twig" %} {% block body %}
<h1>Ajouter un sponsor</h1>

{{ include("sponsor/_form.html.twig") }}

<a href="{{ path('app_sponsor_index') }}" class="btn btn-primary"
  >Retourner à la liste</a
>
{% endblock %}
