{% extends "base/base_admin.html.twig" %}

{% block body %}
    <h1>Edit TypeEvenement</h1>

    {{ include('type_evenement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_evenement_index') }}" class="btn btn-primary">Retourner à la liste</a>

{% endblock %}
