{% extends "base/base.html.twig" %} {% block body %}
<div id="home" class="book-banner-area">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="main-banner-content">
              <span>A great Book</span>
              <h1>Big Mockup Cover Vault</h1>
              <p>
                We passion to work hard and deliver excellent results. It could
                solve the needs of your customers and develop innovation.
              </p>

              <div class="banner-btn">
                <a href="#" class="default-btn">
                  Buy Book
                  <span style="top: 6.39999px; left: 134.4px"></span>
                </a>
              </div>

              <div class="text">
                <p>* eBook includes iBooks, PDF &amp; ePub versions</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="banner-image">
              <img
                src="/assetsFront/img/pexels-tim-gouw-139764.jpg"
                alt="image"
                style="border-radius: 90px"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
