{% extends 'base/base_admin.html.twig' %}

{% block title %}Home Repair - Dashboard{% endblock %}

{% block body %}


<head>
    <title>Download PDF using PHP from HTML Link</title>
</head>

<body>
<center>
    <h2 style="color:green;">Welcome To GFG</h2>
    <p><b>Click below to download PDF</b>
    </p>
    <a href="{{ path('user.pdf') }}">Download PDF Now</a></center>
</body>


{% endblock %}
